<section class="chat">
    <h1 class="welcome">Welcome to chat</h1>

    <div class="chat-container">

        <div class="message-container">
            <span>chat 1</span>
            <div #messagesContainer class="messages receptor">
                <div #messagesList [class.receptor]="m.from != user?.firstname" [class.emitter]="m.from == user?.firstname" *ngFor="let m of messages">
                    <div class="text">
                        <div class="text-container">
                            <small class="name">{{m.from}}</small>
                            <span class="msg">{{m.message}}</span>
                            <small class="time">
                                {{currentTime | date:'H:m'}}
                                &nbsp;
                                <mat-icon>done</mat-icon>
                                <mat-icon>done</mat-icon>
                            </small>
                        </div>
                    </div>
                </div>

                <!-- <div class="emitter">
                    <div class="text">
                        <div class="text-container">
                            <small class="name">Maria</small>
                            <span class="msg">balão emissor</span>
                            <small class="time">
                                {{currentTime | date:'H:m'}}
                                &nbsp;
                                <mat-icon>done</mat-icon>
                                <mat-icon>done</mat-icon>
                            </small>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="controls">
                <mat-form-field appearance="fill" class="input-controls">
                    <input #input (keyup.enter)="send()" [(ngModel)]="message.message" matInput placeholder="Digite aqui">
                </mat-form-field>
                <button (click)="send()" [disabled]="!blockbutton" mat-icon-button>
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>

        <!-- <div class="message-container">
            <span>chat 2</span>
            <div class="messages emitter">
                <div class="receptor">
                    <div class="text">
                        <div class="text-container">
                            <small class="name">João</small>
                            <span class="msg">balão receptor</span>
                            <small class="time">
                                {{currentTime | date:'H:m'}}
                                &nbsp;
                                <mat-icon>done</mat-icon>
                                <mat-icon>done</mat-icon>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="emitter">
                    <div class="text">
                        <div class="text-container">
                            <small class="name">Sandra</small>
                            <span class="msg">balão emissor</span>
                            <small class="time">
                                {{currentTime | date:'H:m'}}
                                &nbsp;
                                <mat-icon>done</mat-icon>
                                <mat-icon>done</mat-icon>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controls"> controls </div>
        </div> -->
    </div>
</section>