@import '../../../styles.scss';

.chat{
    width:100%;
    background: inherit;

    .chat-container{
        width:100%;
        max-width:992px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        color: var(--color-light);

        .message-container{
            max-height:400px;
            width:100%;
            max-width:496px;
            overflow: hidden;
            padding:20px;

            .messages{
                height:310px;
                overflow-x: hidden;
                overflow-y: auto;
                background: var(--color-black);
                margin: 10px 0;
                
                mat-list-item{
                    padding:0 !important;
                    margin-bottom:5% !important;
                    max-width:100% !important;
                    ::ng-deep .mat-list-item-content{
                        display:block;
                    }
                }
                .receptor, .emitter{
                    padding:0 16px;
                    position:relative;
                    margin:8px 0;
                }
                .receptor .text .text-container, .emitter .text .text-container{
                    padding: 6px 12px;
                    display:flex;
                    flex-direction:column;
                    span{
                        font-size:13px;
                        color:var(--color-white);
                        font-weight:100;
                        letter-spacing: 0.1em;
                        padding:5px 0;
                        font-family: Helvetica, sans-serif;
                        word-break: break-all;
                    }
                    small{
                        font-size:10px;
                        color:var(--color-light);
                        font-weight: 400;
                        letter-spacing: 0.08em;
                        padding:0;
                        margin: 0;
                    }
                    .time{
                        text-align:right;
                        font-family:Helvetica, sans-serif;
                        display:flex;
                        justify-content:flex-end;
                        align-items:center;
                        mat-icon{
                            font-size:16px;
                            width:10px;
                            height:17px;
                        }
                    }
                    .name{
                        font-style: italic;
                        text-align: left;
                        color: var(--color-gold);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .receptor .text{
                    background: var(--color-black-dark);
                    border-radius:0px 8px 8px 8px;
                    max-width:100%;
                }
                .receptor .text .text-container{
                    background: var(--color-black-dark);
                    border-radius:0px 8px 8px 8px;
                    position:relative;
                }
                .receptor .text::before{
                    content:'';
                    position:absolute;
                    top:0;
                    left:8px;
                    width: 0; 
                    height: 0; 
                    border-top: 0px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-right: 25px solid var(--color-black-dark);
                }
                .emitter .text{
                    background-color: var(--color-green-dark);
                    border-radius:8px 0 8px 8px;
                    max-width:100%;
                }
                .emitter .text .text-container{
                    background: var(--color-green-dark);
                    border-radius:8px 0 8px 8px;
                    position:relative;
                }
                .emitter .text::before{
                    content:'';
                    position:absolute;
                    top:0;
                    right:8px;
                    width: 0; 
                    height: 0; 
                    border-top: 0px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 25px solid var(--color-green-dark);
                }
                .receptor{
                    display:flex;
                    justify-content: flex-start;
                }
                .emitter{
                    display:flex;
                    justify-content: flex-end;
                }
               
            }
            .messages.emitter{
                flex-direction: column-reverse;
            }
            .messages.receptor{
                flex-direction: column;
            }
            .controls{
                height:50px;
                background: transparent;
                display:flex;
                justify-content: space-between;
                align-items: center;

                .input-controls{
                    width:80%;

                   input{
                        padding: 10px 0 10px 20px;
                        width:90%;
                        white-space: wrap;
                   }
                   input::placeholder{
                       color: var(--color-light);
                       letter-spacing: 0.1em;
                       font-size:12px;
                   }
                }
                button{
                    background: var(--color-black-light);
                    display:flex;
                    justify-content: center;
                    align-items: center;

                    mat-icon{
                        font-size:18px;
                        margin-left: 5px;
                        margin-top: -2px;
                    }
                }
                button:disabled{
                    color: var(--color-light);
                    background:var(--color-black);
                }
                ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
                    padding:0;
                    border-radius:32px;
                }
                ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
                    background-color: var(--color-black-light);
                }
                ::ng-deep .mat-form-field-underline{
                    display: none;
                }
                ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
                    padding:0;
                }
                ::ng-deep .mat-form-field-infix{
                    border:none;
                    padding:0;
                }
                ::ng-deep .mat-form-field-wrapper{
                    padding-bottom: 0;
                }
            }
        }
    }
    .welcome{
        @include welcome;
    }
}
@media (max-width:600px){
    .chat .chat-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width:90%;
        .message-container{
            padding:0;
            margin-bottom: 20px;
        }
    }
}
@media (min-width:601px) and (max-width:992px){
    .chat .chat-container .message-container{
        padding:1.3%;
    }
}