<section class="chat">
    <h1 class="welcome">Welcome to chat</h1>

    <div class="chat-container">
        <div class="message-container">
            <span>chat 1</span>
            <div class="messages"> messages </div>
            <div class="controls"> controls </div>
        </div>
        <div class="message-container">
            <span>chat 2</span>
            <div class="messages"> messages </div>
            <div class="controls"> controls </div>
        </div>
    </div>
</section>