<section class="authfirebase-container">
    <div class="content">
        <ul class="list">
            <li class="list-item" *ngFor="let p of people$ | async">
                <p class="item-column name">
                    <strong>Name:</strong>
                    <span>{{p.name}}</span>
                </p>
                <p class="item-column age">
                    <strong>Age:</strong>
                    <span>{{p.age}}</span>
                </p>
                <p class="item-column address">
                    <strong>E-mail</strong>
                    <span>{{p.email}}</span>
                </p>
                <p class="item-column button">
                    <button mat-button color="warn" (click)="delete(p)">delete</button>
                    <button mat-button color="primary" (click)="update(p)">change</button>
                </p>                
            </li>
        </ul>
        <button class="btn-add" mat-fab (click)="addPerson()">New</button>
    </div>
</section>