/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
:root {
    // colors
    --color-black: rgb(42,42,42);
    // --color-black: #1d1b1b;
    --color-white: #ffffff;
    --color-red: #e22a53;
    --color-green: #145A32;
    --color-black-silver: #44444482;
    // --color-black-silver: #59596b;
    --color-light: #B2BABB;
    --color-light-1:#b2babb7a;
    --color-high-dark:#121212;
    --color-blue:dodgerblue;
    --color-gold: rgb(251, 188, 7);
    // colors -dark
    // --color-black-dark:#1F1F25;
    // --color-black-dark:#283747;
    // --color-black-dark:#1B2631;
    // --color-black-dark:#212F3C;
    // --color-black-dark:#1A1717;
    // --color-black-dark:#2D2727;
    // --color-black-dark:#3C3232;
    // --color-black-dark:#1C2319;
    // --color-black-dark:#121511;
    // --color-black-dark:#1F201E;
    // --color-black-dark:#1c1c1d;
    --color-black-dark:rgb(52,52,52);

    --color-green-dark: #0B5345;
    --color-green-dark-1:rgba(11, 83, 69, 0.5);
    --color-red-dark-1:rgba(244, 67, 54, 0.45);
    --color-red-dark: #641E16;

    // colors - medium
    // --color-black-medium: #2b2c32;
    // --color-black-medium:#2B2C2F;
    --color-black-medium:rgb(45,45,45);
    --color-green-medium: #27AE60;
    --color-red-medium: #CB4335;

    // colors - light
    --color-black-light:rgb(75,75,75);
    --color-green-light: #52BE80;
    --color-red-light: #FF4081;
    --color-red-light-1:#ff408191;
    
    // fonts
    --font-main: 'Raleway';

    // size
    --btn-size:120px;
    --display-1:3em;
    --size-small:0.9em;
    --size-sm:0.9em;
    --size-xs:0.7em;
    --size-md:1em;
    --size-lg:1.5em;
    --size-xl:2em;
}
html, body { 
    height: 100%;
    box-sizing: border-box;
    width:100%;
    max-width:1920px;
    margin: 0 auto;
}
body { 
    margin:0; 
    padding:0;
    position:relative;
    font-family: var(--font-main);
    background: linear-gradient(180deg, var(--color-black-dark) 60%, var(--color-black) 100%);
}
.snack-success{
    // background: darkseagreen;
    background: var(--color-green);
    color: var(--color-black-silver);
}
.snack-error{
    background: var(--color-red);
    color: var(--color-black-medium);
}
.custom-panel-options{
    background: var(--color-black-medium);
    color: var(--color-light);
}
.text-sm{
    font-size: var(--size-xs);
}
.text-md{
    font-size: var(--size-md);
}
::-webkit-scrollbar-track {
    // background-color: #F4F4F4;
    background-color: var(--color-black-dark);
}
::-webkit-scrollbar {
    width: 6px;
    // background: #F4F4F4;
    background-color: var(--color-black-medium);
}
::-webkit-scrollbar-thumb {
    // background: #c4c4c4;
    // background: #dad7d7;
    background-color: var(--color-black-light);
    border-radius: 10px;
}
.full-screen {
    .mat-dialog-container {
        background: var(--color-black-dark) !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick{
        background: #2b2c3278;
        opacity: 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline{
        color: var(--color-black-silver);
    }
    .mat-input-placeholder,
    .mat-select-placeholder, 
    .mat-select-value, 
    .mat-select-arrow,
    .mat-form-field-label,
    input,
    input::placeholder, select::placeholder{
        color: var(--color-light);
    }
    .mat-select-value-text{
        color: var(--color-white) !important;
    }
    mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
        color: var(--color-light);
    }
}
.custom-datapicker{
    background: var(--color-black-medium);
    color: var(--color-light);
    .mat-calendar-table-header th,
    .mat-calendar-body-label,
    .mat-calendar-body-cell-content,
    .mat-datepicker-content .mat-calendar-next-button,
    .mat-calendar-arrow,
    .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle{
        color: var(--color-light);
    }
    .mat-calendar-arrow{
        border-top-color: var(--color-light);
    }
    .mat-datepicker-content .mat-calendar-next-button,
    .mat-calendar-next-button::after, .mat-calendar-previous-button::after,
    .mat-datepicker-content .mat-calendar-previous-button{
        color: var(--color-light);
    }
}
@mixin background-dark{
    // background: var(--color-black-dark);
    background: linear-gradient(180deg, var(--color-black-dark) 60%, var(--color-black) 100%);
}
@mixin text-sm-light {
    font-size: var(--size-xs);
    color: var(--color-light);
    letter-spacing: 0.08em;
    font-family: 'Verdana', 'sans-serif';
    font-style: normal;
    font-weight: 200;
}
@mixin profile-title{
    font-size:var(--size-lg);
    color:var(--color-light);
    letter-spacing:0.05em;
    font-family:var(--font-main);
    font-weight:400;
    text-align:center;
}
@mixin welcome{
    font-size:var(--display-1);
    color:var(--color-light);
    text-align:center;
}
@mixin card-dark{
    background-color:var(--color-black-medium);
    color:var(--color-light);
}
@mixin card-title{
    color:var(--color-light);
    letter-spacing:0.08em;
    font-weight:bold;
    font-family:var(--font-main);
    font-size:1.5em;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin card-subtitle{
    color:var(--color-green-light);
    letter-spacing:0.02em;
    font-family:var(--font-main);
    font-style:normal;
    font-weight:200;
    font-size:0.8em;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin btn-send{
    color:var(--color-light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:var(--color-black-medium);
    font-family:var(--font-main);
    font-weight:bold;
    text-transform: uppercase;
    font-size:11.2px;
}
@mixin btn-login{
    color:var(--color-green-light);
    border:1px solid var(--color-green-light);
    width:120px;
    font-family:var(--font-main);
    text-transform: uppercase;
    font-weight: bold;
    font-size:11.2px;
    letter-spacing: 0.1em;
}
@mixin btn-login-disabled{
    color: var(--color-light);
    border: 1px solid transparent;
    background: var(--color-black-light);
}
@mixin form-dark {
    width:100%;
    mat-label{
        color: var(--color-black-silver);
    }
    input::placeholder, select::placeholder{
        color: var(--color-light);
    }
    ::ng-deep .mat-select-placeholder, 
    ::ng-deep .mat-select-value, 
    ::ng-deep .mat-select-arrow{
        color: var(--color-light);
    }
    ::ng-deep .mat-select-value-text{
        color: var(--color-white) !important;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
        color: var(--color-black-silver);
    }
}