<section class="eletro-list">
    <mat-nav-list>
        <h2 class="sub-header" mat-subheader>Electronics List</h2>
        <a 
            class="list-item"
            mat-list-item
            *ngFor="let e of eletronics$ | async; let i = index"
            [routerLink]="'/eletronics/' + encrypto(prefix + i)">
            <mat-icon mat-list-icon>library_books</mat-icon>
            <h4 mat-line>{{e.name}}</h4>
            <h5 mat-line>Price: {{e.price | currency:'R$ '}}</h5>
        </a>
    </mat-nav-list>
</section>
