<section class="upload-files">
  <div class="container">
    <div class="dropfiles">
      <app-drop-files (droppedFiles)="onDroppedFiles($event)"></app-drop-files>
    </div>
    <div class="listfiles">
      <div fxLayout="column" fxLayoutAlign="space-between stretch">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="card-container" *ngIf="files.length > 0;else nofiles">
            <h3 class="title">Files:</h3>
            <mat-card class="card" *ngFor="let f of files; let i = index;">
              <div class="card-item" title="{{f.file.name}}">
                <mat-icon>attachment</mat-icon>
                &nbsp;
                <span
                  [class.short-text]="((f.uploading | async) || (f.paused | async)) || (f.error | async)">{{f.file.name}}</span>
                <!-- <span [class.short-text]="f.task != null">{{f.file.name}}</span> -->
              </div>
              <div *ngIf="f.task == null; else running">
                <button (click)="removeFileFromList(i)" mat-icon-button>
                  <mat-icon style="color:var(--color-red-light)">delete</mat-icon>
                </button>
              </div>
              <ng-template #running>
                <div class="pane-controls"
                  [ngStyle]="{'width':!(f.finished | async) && !((f.error | async) || (f.canceled | async)) ? '62%' : ''}">

                  <!-- SHOW PANEL QUANDO NÃO HÁ ERROS OU QUANDO FINALIZAR -->
                  <ng-container *ngIf="!(f.finished | async) && !((f.error | async) || (f.canceled | async))">
                    <span class="bytes-uploaded">{{f.bytesuploaded | async}} bytes</span>
                    <mat-progress-bar mode="determinate" [value]="f.percentage | async" style="max-width:200px;">
                    </mat-progress-bar>
                    <button (click)="f.task.cancel()" mat-icon-button class="icon-error" *ngIf="f.uploading | async">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <button (click)="f.task.pause()" mat-icon-button class="icon-pause" *ngIf="f.uploading | async">
                      <mat-icon>pause</mat-icon>
                    </button>
                    <button (click)="f.task.resume()" mat-icon-button class="icon-play" *ngIf="f.paused | async">
                      <mat-icon>play_arrow</mat-icon>
                    </button>
                  </ng-container>
                  <mat-icon class="icon-error" *ngIf="(f.error | async) || (f.canceled | async)">error</mat-icon>
                  <mat-icon class="icon-done" *ngIf="f.finished | async">done</mat-icon>
                </div>
              </ng-template>
            </mat-card>
            <div class="buttons" style="margin-bottom:30px">
              <div class="btn-container">
                <button mat-button>
                  <mat-icon style="color:#e22a539e;">cancel</mat-icon>
                  &nbsp;
                  <span>cancel</span>
                </button>
                <button mat-button (click)="uploadAll()">
                  <mat-icon style="color:#27ae60c4;">cloud_upload</mat-icon>
                  &nbsp;
                  <span>send all</span>
                </button>
              </div>
            </div>
          </div>
          <ng-template #nofiles>
            <span class="welcome">No Files!</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>