<section class="sidenav">
    <div class="container">
        <button class="btn-close-panel" mat-icon-button (click)="closeSideMenu()">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>

        <div *ngIf="user$ | async as user; else showUser" class="profile" style="margin-top: 50px;">
            <div class="profile-img">
                <mat-icon *ngIf="!(user$ | async)?.photoURL">account_circle</mat-icon>
                <div class="img" *ngIf="(user$ | async)?.photoURL">
                    <img [src]="user?.photoURL">
                </div>
            </div>
            <div class="title">
                <span>Welcome {{user.firstname}}</span>
            </div>
        </div>

        <!-- SE NÃO EXISTIR USUÁRIO -->
        <ng-template #showUser>
            <div class="profile" style="margin-top: 50px;">
                <div class="profile-img">
                    <mat-icon>account_circle</mat-icon>
                </div>
                <div class="title">
                    <span>Welcome to my Project</span>
                </div>
            </div>
        </ng-template>

        <!-- <mat-nav-list>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title">Components</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description class="description">
                        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">
                            <div fxFlex="20">
                                <mat-radio-group fxLayout="column" (change)="updateChange($event)" [(ngModel)]="options">
                                    <mat-radio-button value="dragAndDrop">Drag and Drop</mat-radio-button>
                                    <mat-radio-button value="unsubscribe">Unsubscribe</mat-radio-button>
                                    <mat-radio-button value="switchMerge">Switch / Merge</mat-radio-button>
                                    <mat-radio-button value="form-simple-validate">Form / Simple Validate</mat-radio-button>
                                    <mat-radio-button value="reactive-form">Form / Reactive</mat-radio-button>
                                    <mat-radio-button value="reactive-form-group">Form Group / Reactive</mat-radio-button>
                                    <mat-radio-button value="reactive-form-builder">Form Builder / Reactive</mat-radio-button>
                                    <mat-radio-button value="reactive-form-array">Form Array / Reactive</mat-radio-button>
                                    <mat-radio-button value="reactive-form-validate">Form Validate / Reactive</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel>
            </mat-accordion>
            <ng-container *ngFor="let item of listsLinks">
                <button mat-button class="side-button">
                    {{item.name}}
                </button>
            </ng-container>
        </mat-nav-list> -->
    </div>
</section>
