@import '../../../styles.scss';

.store{
    background: var(--color-black-dark);
    color: var(--color-black-silver);
    height: 100%;

    .container{
        padding: 0 5%; 
    }
    .card {
        @include card-dark;
    }
}
.display-title{
    @include welcome;
}