@import '../../../styles.scss';

.department {
    .container{
        .card{
            background: var(--color-black-medium);
            color: var(--color-white);
            box-shadow: none;
            .custom-form{
                mat-label{
                    color: var(--color-black-silver);
                }
                input::placeholder{
                    color: var(--color-light);
                }
            }
            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
                color: var(--color-black-silver);
            }
            .hint {
                color: var(--color-green-light);
            }
            .actions{
                display: flex;
                justify-content: flex-end;
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                width: 70%;
                max-width: 260px;
                
                .btn-save{
                    background: var(--color-green);
                    width: var(--btn-size);
                }
                .btn-cancel{
                    background: var(--color-red);
                    width: var(--btn-size);
                }
            }
            .list{
                color: var(--color-light);
            }
            .empty{
                font-size: var(--display-1);
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.08em;
                color: var(--color-light);
            }
            ::ng-deep .mat-badge-content{
                background-color: var(--color-green-dark);
            }
        }
    }
}