<!-- <section class="page-home">
    <div class="background-banner"></div>
    <div class="welcome-home" id="welcome">
        <div class="container-home">
            <h1 class="display-3">{{title}}</h1>
            <div class="content-home">
                <div fxFlex="100">
                    <ng-container [ngSwitch]="options">
                        <app-drag-and-drop *ngSwitchCase="'dragAndDrop'"></app-drag-and-drop>
                        <app-unsubscribe *ngSwitchCase="'unsubscribe'"></app-unsubscribe>
                        <app-switch-merge *ngSwitchCase="'switchMerge'"></app-switch-merge>
                        <app-form-simple-validate *ngSwitchCase="'form-simple-validate'"></app-form-simple-validate>
                        <app-reactive-form *ngSwitchCase="'reactive-form'"></app-reactive-form>
                        <app-reactive-form-group *ngSwitchCase="'reactive-form-group'"></app-reactive-form-group>
                        <app-reactive-form-builder *ngSwitchCase="'reactive-form-builder'"></app-reactive-form-builder>
                        <app-reactive-form-array *ngSwitchCase="'reactive-form-array'"></app-reactive-form-array>
                        <app-reactive-form-validate *ngSwitchCase="'reactive-form-validate'"></app-reactive-form-validate>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="sidenav">
    <mat-drawer-container class="example-container">
        <mat-drawer [opened]="toogleSide" #drawer mode="side"  class="example-sidenav" style="width: 15%">
            <app-sidenav [drawer]="drawer"></app-sidenav>
        </mat-drawer>
        <mat-drawer-content class="exemple-sidenav-content">
            <app-toolbar [drawer]="drawer"></app-toolbar>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</section>