.clients{
    .container{
        max-width: 1920px;
        padding: 0 5%;

        h3{
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 0.3em;
            color: #585c6f;
        }
    }
}