<section class="ngrx-container">
    <h1 class="welcome">Welcome to section NGRX</h1>
    <div class="content">
        <ul class="list">
            <li class="list-item" *ngFor="let p of people$ | async">
                <p>{{p.name}}</p>
                <p>{{p.age}}</p>
                <span>{{p.city}}</span> / <span>{{p.countyr}}</span>
                <p>{{p.address}}</p>
                
                <button mat-button color="primary" (click)="delete(p)">delete</button>
                <button mat-button color="warn" (click)="update(p)">update</button>

            </li>
        </ul>
        <button class="btn-add" mat-fab (click)="addPerson()">New</button>
    </div>
</section>