@import '../../../styles.scss';

.panel-project{
    width:100%;
    margin-top:65px;
    .welcome{
        @include welcome;
    }
    .container-base{
        position:relative;
        height:100%;
        padding:0 20px;
    }
    .container-base .container-card{
        width:100%;
        margin:0 auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:90%;
        max-width:768px;
    }
    .container-base .container-card .card {
        @include card-dark;
        position: relative;
        margin: 8px 0;
        .title{
           @include card-title;
           display:flex;
           justify-content: space-between;
           align-items: center;
           small{
               font-size:11.2px;
           }
        }
        .subtitle{
           @include card-subtitle;
        }
        .row{
            display:flex;
            flex-direction:row;
            width:100%;
            justify-content:space-between;
            margin:1% 0;
        }
        .content{
            width:100%;
            background-color:#2f2f2f8a;
            padding:10px 0;
            height:15px;
        }
        .texts, .texts-radius{
            width:90%;
            height:15px;
            background:var(--color-black-silver);
            margin:0 auto;
        }
        .texts-radius{
            border-radius: 32px;
        }
        .profile{
            height:15px;
            width:15px;
            border-radius:50%;
            background:var(--color-black-silver);
            margin:0 auto;
        }
        .col-3{
            width:32%;
        }
        .col-3 .content span{
            font-size:11.2px;
            margin-left: 10px;
        }
        .col-6{
            width:47%;
        }
        .col-6 .content{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .col-6 .content span{
            font-size:11.2px;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .col-6 .content .status mat-icon{
            font-size:18px;
        }
        .col-2{
            width:15%;
        }
        .col-2 .content .img img{
            width:100%;
            object-fit: cover;
        }
        .col-10{
            width:80%;
        }
        .col-10 span{
            font-size: 11.2px;
            color:var(--color-light);
        }
        .border-custom{
            position:relative;
        }
        .border-custom::before{
            content:'';
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:1px;
            background:var(--color-green-light);
        }
        .background-blue{
            background:var(--color-blue);
        }
        .background-red{
            background:var(--color-red);
        }
    }
}