@import '../../../styles.scss';

.panel-project{
    height:100%;
    width:100%;
    .welcome{
        @include welcome;
    }
    .container-base{
        position:relative;
        height:100%;
        width:86.6%;
        margin:0 auto;
    }
    .container-base .container-card{
        width:60%;
        margin:0 auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:90%;

        
    }
    .container-base .container-card .card {
        @include card-dark;
        height:45%;
        position: relative;

        .title{
           @include card-title;
        }
        .subtitle{
           @include card-subtitle;
        }
        .row{
            display:flex;
            flex-direction:row;
            width:100%;
            justify-content:space-between;
            margin:1% 0;
        }
        .content{
            width:100%;
            background-color:#2f2f2f8a;
            padding:10px 0;
            height:15px;
        }
        .texts, .texts-radius{
            width:90%;
            height:15px;
            background:var(--color-black-silver);
            margin:0 auto;
        }
        .texts-radius{
            border-radius: 32px;
        }
        .profile{
            height:15px;
            width:15px;
            border-radius:50%;
            background:var(--color-black-silver);
            margin:0 auto;
        }
        .col-3{
            width:32%;
        }
        .col-6{
            width:47%;
        }
        .col-2{
            width:15%;
        }
        .col-10{
            width:80%;
        }
        .border-custom{
            position:relative;
        }
        .border-custom::before{
            content:'';
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:1px;
            background:var(--color-green-light);
        }
        .background-blue{
            background:var(--color-blue);
        }
        .background-red{
            background:var(--color-red);
        }
        .first-layer-top, .first-layer-right, .first-layer-bottom, .first-layer-left{
            position:absolute;
            height:30px;
            width:20%;

            .base{
                position:absolute;
                width:200px;
                height:30px;
                border:1px solid red;
            }
            .pine-left, .pine-center, .pine-right{
                position:absolute;
                height:100%;
                width:5px;
                background:red;
            }

            .pine-left{
                top:0;
                left:0;
            }
            .pine-center{
                top:0;
                left:50%;
            }
            .pine-right{
                top:0;
                right:0;
            }
        }
        .first-layer-top{
            left:50%;
            top:100%;
            transform:translateX(-50%);
            .base{
                top:100%;
            }
        }
        .first-layer-bottom{
            left:50%;
            bottom:100%;
            transform:translateX(-50%);
        }
        .first-layer-right{
            top:50%;
            transform: rotate(90deg);
            right:93%;
        }
        .first-layer-left{
            top:50%;
            left:93%;
            transform: rotate(90deg);
        }
    }
}