<section class="panel-project">
    <!-- <h1 class="welcome">Panel Projects</h1> -->
    <div class="container-base">
        <div class="container-card">
            <mat-card class="card">
                <mat-card-title class="title">Novo Projeto</mat-card-title>
                <mat-card-subtitle class="subtitle">Essa semana</mat-card-subtitle>
                <mat-card-content>
                    <div class="row" *ngFor="let i of numbers; let i = index">
                        <div class="col-3 border-custom">
                            <div class="content">
                                <div class="texts"></div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-2">
                                    <div class="content">
                                        <div class="profile"></div>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="content background-red">
                                        <!-- <div class="texts"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6">
                                    <div class="content">
                                        <div class="texts-radius"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="content">
                                        <div class="texts-radius background-blue"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <div class="first-layer-top">
                    <div class="pine-left"></div>
                    <div class="pine-center"></div>
                    <div class="pine-right"></div>
                    <div class="base"></div>
                </div>
                <div class="first-layer-right">
                    <div class="pine-left"></div>
                    <div class="pine-center"></div>
                    <div class="pine-right"></div>
                    <div class="base"></div>
                </div>
                <div class="first-layer-bottom">
                    <div class="pine-left"></div>
                    <div class="pine-center"></div>
                    <div class="pine-right"></div>
                    <div class="base"></div>
                </div>
                <div class="first-layer-left">
                    <div class="pine-left"></div>
                    <div class="pine-center"></div>
                    <div class="pine-right"></div>
                    <div class="base"></div>
                </div>
            </mat-card>
        </div>
    </div>
</section>