@import '../../../styles.scss';

.panel-project{
    width:100%;
    margin-top:65px;
    .welcome{
        @include welcome;
    }
    .container-base{
        position:relative;
        height:100%;
        padding:0 20px;
    }
    .btn-new-project{
        position:fixed;
        bottom:20px;
        right:40px;
    }
}