<section class="panel-project">
    <div class="container-base">
        <button style="color: var(--color-light)" mat-icon-button (click)="switchActions = ''">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div [ngSwitch]="switchActions">
            <div *ngSwitchCase="'create-project'">
            </div>
            <div *ngSwitchDefault>
                <app-card-project *ngFor="let p of projetos" [projeto]="p"></app-card-project>
            </div>
        </div>
    </div>
    <button class="btn-new-project" (click)="openFormCreateProject()" mat-fab>
        <mat-icon>add</mat-icon>
    </button>
</section>