<mat-toolbar>
    <mat-toolbar-row class="container">
        <button (click)="drawerToggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <button routerLinkActive="active-link" mat-button routerLink="app">Home</button>
        <button routerLinkActive="active-link" mat-button routerLink="http-request">Http Request</button>
        <button routerLinkActive="active-link" mat-button routerLink="forms">Forms</button>
        <button routerLinkActive="active-link" mat-button [matMenuTriggerFor]="store">Store</button>
        <button routerLinkActive="active-link" mat-button routerLink="login">Sign In</button>
        <button routerLinkActive="active-link" mat-button routerLink="register">Sign Up</button>
        
        <!-- <button routerLinkActive="active-link" mat-button routerLink="book">Books</button> -->
        <!-- <button routerLinkActive="active-link" mat-button routerLink="dvd">Dvd's</button> -->
        <!-- <button routerLinkActive="active-link" mat-button routerLink="eletronics">Eletronic</button> -->
        
        <!-- MENU DROPDOW -->
        <mat-menu #store>
            <button class="menu-item" routerLinkActive="active-link" mat-button routerLink="store">Store</button>
            <button class="menu-item" routerLinkActive="active-link" mat-button routerLink="book">Books</button>
            <button class="menu-item" routerLinkActive="active-link" mat-button routerLink="dvd">Dvd's</button>
            <button class="menu-item" routerLinkActive="active-link" mat-button routerLink="eletronics">Eletronic</button>
            <button class="menu-item" routerLinkActive="active-link" mat-button routerLink="main/people">People</button>
            <button class="menu-item" routerLinkActive="active-link" mat-button routerLink="main/products">Products</button>
        </mat-menu>
    </mat-toolbar-row>
    <!-- <ng-template #sidenav>
        <mat-toolbar-row class="container">
            <button (click)="drawerToggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>Logo</button>
        </mat-toolbar-row>
    </ng-template> -->
</mat-toolbar>