$bgSecondary: #f5f5ee;
$bgPrimary: #ffffff;
$textPrimary: #323232;
$textSecondary: #888888;

mat-toolbar{
    background: $bgSecondary;
}
.container{
    padding: 0 5%;
    button{
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: $textSecondary;
    }
}
.sidenav{
    position: relative;
    height: 100%;
    padding: 0 5%;
    border:none;
    box-sizing: border-box;
}
.example-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}
