@import './../../../styles.scss';

mat-toolbar{
    background: var(--color-black-medium);
}
.container{
    padding: 0 5%;
    justify-content: space-between;
    
    button{
        text-transform: uppercase;
        letter-spacing: 0.08em;
        // color: var(--color-black-silver);
        color: var(--color-light);
        margin: 0 10px;
    }
    .active-link{
        border: 1px solid var(--color-red-light);
    }
}
.menu-item{
    text-transform: uppercase;
    color: var(--color-light);

    mat-icon{
        color: var(--color-white);
    }
}
::ng-deep .mat-menu-panel{
    background-color: var(--color-black-medium);
    color: var(--color-light);
}
::ng-deep .mat-menu-content{
    display: flex;
    flex-direction: column;
}
