<mat-toolbar>
    <mat-toolbar-row *ngIf="!smScreen && !xsScreen; else showDrawToggle" class="container">
        <div>
            <button (click)="drawerToggle($event)" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button routerLink="/">Home</button>
            <button mat-button routerLink="http-request">Http Request</button>
            <button mat-button routerLink="forms">Forms</button>
            <button mat-button [matMenuTriggerFor]="store">Store</button>
            <button mat-button routerLink="dropzone">DropZone</button>

              <!-- MENU DROPDOW -->
            <mat-menu #store>
                <button class="menu-item" mat-menu-item routerLink="firebase">Firebase Store</button>
                <button class="menu-item" mat-menu-item routerLink="store">Store</button>
                <button class="menu-item" mat-menu-item routerLink="book">Books</button>
                <button class="menu-item" mat-menu-item routerLink="dvd">Dvd's</button>
                <button class="menu-item" mat-menu-item routerLink="eletronics">Eletronic</button>
                <button class="menu-item" mat-menu-item routerLink="main/people">People</button>
                <button class="menu-item" mat-menu-item routerLink="main/products">Products</button>
            </mat-menu>
        </div>

        <div>
            <ng-container *ngIf="!(authenticated$ | async)">
                <button mat-button routerLink="/auth/login">Sign In</button>
                <button mat-button routerLink="/auth/register">Sign Up</button>
            </ng-container>
    
            <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #userMenu>
                    <p class="menu-item" mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        {{ (user$ | async)?.firstname }}
                    </p>
                    
                    <!-- <mat-divider></mat-divider> -->

                    <!-- <button class="menu-item" mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Radial</span>
                    </button> -->
                    
                    <!-- <button class="menu-item" mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>check voicemail</span>
                    </button> -->

                    <!-- <button class="menu-item" mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>disable alert</span>
                    </button> -->
                    <button class="menu-item" mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button (click)="logout()" class="menu-item" mat-menu-item>
                        <mat-icon>input</mat-icon>
                        <span>sign out</span>
                    </button>
                </mat-menu>
            </ng-container>
        </div>
        
        <!-- <button routerLinkActive="active-link" mat-button routerLink="book">Books</button> -->
        <!-- <button routerLinkActive="active-link" mat-button routerLink="dvd">Dvd's</button> -->
        <!-- <button routerLinkActive="active-link" mat-button routerLink="eletronics">Eletronic</button> -->
    </mat-toolbar-row>
    <!-- <ng-template #sidenav>
        <mat-toolbar-row class="container">
            <button (click)="drawerToggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>Logo</button>
        </mat-toolbar-row>
    </ng-template> -->
    <ng-template #showDrawToggle>
        <mat-toolbar-row class="container">
            <button (click)="drawerToggle($event)" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </ng-template>
</mat-toolbar>