@import './../../../styles.scss';

mat-toolbar{
    background: var(--color-black-medium);
}
.container{
    padding: 0 5%;
    button{
        text-transform: uppercase;
        letter-spacing: 0.08em;
        // color: var(--color-black-silver);
        color: var(--color-light);
        margin: 0 10px;
    }
    .active-link{
        border: 1px solid var(--color-red-light);
    }
}
