<section class="sidenav">
    <mat-drawer-container class="example-container">
        <mat-drawer
            style="max-width:240px"
            [ngStyle]="{'width':(xsmallScreen) ? '60%' : (smallScreen) ? '40%' : '20%'}"
            [opened]="toogleSide" 
            #drawer 
            mode="over" 
            class="example-sidenav">
            <app-sidenav [drawer]="drawer"></app-sidenav>
        </mat-drawer>
        <mat-drawer-content class="exemple-sidenav-content">
            <app-toolbar [drawer]="drawer"></app-toolbar>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</section>